# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

__pycache__

# local launcher
training/gan_executor.ipynb
training/vae_executor.ipynb

# rating register
register.csv

# compiled model
storefront/backend/generator/model/*.pt

# local config
.env

# misc
.DS_Store
